table,th,td {
            border: 1px solid black;
            border-collapse: collapse;
        }
hr{
    border:none;
    height: 2px;
    background-color: rgb(221, 121, 121);
}

.title{
    color: rgb(26, 182, 249);
}

section#basic-tags > h2{
    color: red;
}

.border{
    border-style: dotted;
    border-radius: 15px;
    border-width: 3px;
    border-color:rgb(255, 39, 205);
}
